<html>
    <title>Twin Fantasy</title>
    <body>
        <h1>Search for a player</h1>
        <form method="GET" action="/player/">
            <input type="text" name="name">
            <label for="name">Name</label>
            <input type="submit" value="Search">
        </form>
        <h1>Add a player</h1>
        <form method="POST" action="/addplayer">
            <input type="text" name="name">
            <label for="name">Name</label>
            <input type="submit" value="Search">
        </form>
    </body>
</html>